.navbar-inverse{
	margin-bottom: 0;
}

.thumbnail-table{
	max-width: 75px;
	max-height: 75px;
}

.thumbnail-edit{
	max-width: 150px;
	max-height: 150px;
}

.thumbnail-delete{
	max-width: 200px;
	max-height: 200px;
}

.thumbnail-commande{
	max-width: 250px;
	max-height: 150px;

}

.thumbnail-journal{
	max-width: 190px;
}

#table table td{
	vertical-align: middle;
}

th.inverse {
	background-color: #333;
	color: #9d9d9d;
}

.star {
	font-size: 0.8em;
	color: #ffc700;
}
